{% extends 'base.html' %}
{% block title %}Feedback |{% endblock title %}

{% block body %}
<img src="../static/fb.jpg" alt="" id="lg">
<img src="../static/feed.jpg" alt="" id="i1">
<img src="../static/feed1.jpg" alt="" id="i2"> <br>
<div id="frm">
<img src="../static/feed2.jpg" alt="" id="i3">
<form action="/feedback" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter your name"> <br> <br>
    <input type="text" name="pno" placeholder="enter your pno"><br> <br>
    <input type="text" name="email" placeholder="enter your email"><br> <br>
    <textarea name="feedback" cols="30" rows="5" placeholder="please give your valuable feedback"></textarea><br> <br>
    <button>Submit</button>
</form>
</div>
<style>
    #i1{
        margin-left: 150px;
    }
    #i2{
        position: absolute;
        margin-left: 650px  ;
    }
    #i3
    {
        margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    }
    #frm{
        margin-top: -158px;
        margin-left: 170px;
    }
    #lg{
        height: 400px;
        width: 100%;
    }
    form{
        padding: 10px;
        background-image: url('../static/fbbg4.jpeg');
        width: 25%;
        margin: auto;
        text-align: center;
        margin-bottom: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }
    input{
        width: 100%;
        background: none;
        color: black;
    }
    textarea{
        width: 100%;
        background: none;
    }
    button{
        width: 25%;
        background: none;
        border-radius: 5px;
    }
    input:hover{
        background-color: aquamarine;
        border: 1px double white;
        transition: 1s;
    }
    textarea:hover{
        background-color: aquamarine;
        border: 1px double white;
        transition: 1s;
    }
    button:hover{
        background-color: aquamarine;
        border: 1px double white;
        transition: 1s;
    }
   
</style>
{% endblock body %}